@charset "UTF-8";


body, input, button {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/background.jpg');
  text-align: center;
}

header .header-content {
    position: relative;
    text-align: right;
    padding: 200px 50px 200px 50px;
    width: 100%;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    color: white;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-bottom: 20px;
}
